.title-h1{
    font-size: 30px !important;
}

.navbar{
    padding: 0 !important;
}

.questions{
    h3.question{
        font-size: 1rem;
        font-weight: 500;
        border: 0 none;
        border-radius: 6px;
        outline: 0 none;
        position: relative;
        z-index: 1;
        position: relative;
        display: block;
        width: 100%;
        background: transparent;
        color: var(--primary-t-color);
        text-align: left;
    }
}

button.btn-primary{
    background: rgb(255,102,102) !important;
}

button.btn-primary:hover{
    background: #3C1F81 !important;
}

button.btn-secondary{
    background: #fff !important;
    color: #3C1F81 !important;
}

button.btn-secondary:hover{
    background: #3C1F81 !important;
    color: #fff !important;
}

button.btn-tertiary{
    background: #733db1 !important;

    &:hover{
        background: #7d32ff !important;
    }
}


.benefit-icon{
    font-size: 60px !important;
    background: -webkit-linear-gradient(left top, #512287,  #af80ff);
    background: linear-gradient(to bottom right, #512287, #af80ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.icon-text{
    font-family: var(--primary-font) !important;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-primary{
        margin-left: 20px;
    }

    @media screen and (max-width: 411px) {
        flex-direction: column;
        
        .btn-primary{
            margin: 0;
            margin-top: 20px;
        }
    }
}