.features-area {
    .features-slider-wrapper {
        padding: 67px 23px 90px 26px;
        background-size: 100%;
        max-width: 290px;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 52px 18px 90px 21px;
            max-width: 245px;
        }
        @media (max-width: 575px) {
            padding: 52px 18px 90px 21px;
            max-width: 220px;
        }
    }
    &.style-two .image-box {
        position: relative;
        box-shadow: 0 3px 20px 0px var(--primary-l-color);
        border-radius: 1.5rem;
        transition: transform 0.3s ease 0s;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125) !important;
        }
    }
}