.height-emulator {
    float: left;
    height: 585px;
}

.footer-area {
    .footer-items {
        .social-icons > a {
            width: 40px;
            height: 40px;
            font-size: 18px;
            &:hover svg:first-child {
                margin-top: -40px;
            }
        }
        @media only screen and (min-width: 576px) and (max-width: 991px) {
            margin-bottom: 30px;
        }
        @media (max-width: 575px) {
            margin-bottom: 30px;
        }
    }
    .copyright-area {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    @media (min-width: 992px) {
        &.footer-fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }
    @media (max-width: 575px) {
        .col-12:last-of-type .footer-items {
            margin-bottom: 0;
        }
    }
}