@media (max-width: 991px) {
    .main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: var(--white-color);
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    transition: .3s;
    background: transparent;
    @media (max-width: 991px) {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        .navbar-toggler {
            position: absolute !important;
            top: auto;
            right: 0;
            bottom: auto;
            left: auto;
            border: none;
            height: 100%;
            width: 3.75rem;
            background-image: none;
            border-radius: 0;
            z-index: 1;
            display: inline-block;
            .navbar-toggler-icon {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                height: 3px;
                width: 50%;
                background: var(--nav-toggler-color);
                display: inline-block;
                background-image: none !important;
                transition: .3s ease-in-out;
                &::before, &::after {
                    content: "";
                    background: var(--nav-toggler-color);
                    left: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transition: .3s ease-in-out;
                }
                &::before {
                    top: -0.625rem;
                }
                &::after {
                    top: 0.625rem;
                }
                &.active {
                    background-color: transparent;
                    transform: scale(0.85) rotate(270deg);
                    &::before {
                        top: 0;
                        transform: scale(0.65) rotate(45deg);
                    }
                    &::after {
                        top: 0;
                        transform: scale(0.65) rotate(-45deg);
                    }
                }
            }
        }
        .navbar-inner {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 20rem;
            padding-top: 2.5rem;
            background-color: var(--white-color);
            box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
            border-radius: 0;
            overflow-y: auto;
            z-index: 1050;
            right: -100%;
            transition: right 0.3s 0.2s;
            .dropdown-menu {
                border: medium none;
                background: none;
                border-radius: 0;
                box-shadow: none;
                float: none;
                margin: 0;
                padding-top: 0;
                position: static;
                &::before {
                    content: none;
                }
            }
            .navbar-toggler {
                position: absolute;
                height: 2.5rem;
                top: 0;
            }
        }
        &.active {
            display: block;
            .navbar-inner {
                right: 0;
            }
        }
    }
    .navbar-nav {
        .nav-link {
            padding-right: 1.25rem;
            padding-left: 1.25rem;
            transition: .3s;
            @media (min-width: 992px) {
                padding-top: 1.875rem;
                padding-bottom: 1.875rem;
            }
            @media (max-width: 991px) {
                border-bottom: 1px solid #eee;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
            }
        }
        @media (min-width: 992px) {
            li:hover > ul.dropdown-menu {
              opacity: 1;
              transform: translateY(-10px);
              visibility: visible;
            }
        }
    }
    &.navbar-sticky {
        transition: none;
    }
    .navbar-brand-sticky {
        display: none;
    }
    &.navbar-sticky-moved-up {
        position: fixed;
        top: 0;
        background: var(--white-color);
        margin-top: -100px;
    }
    &.navbar-sticky-transitioned {
        transition: .3s;
    }
    &.navbar-dark {
        .navbar-nav .nav-link {
            color: var(--white-color);
            @media (max-width: 991px) {
                color: #54565a;
                &:hover, &:focus, &.active, &.current-menu-item {
                    color: var(--nav-hover-color);
                }
            }
        }
        .btn-outline {
            color: var(--white-color);
        }
        &.navbar-sticky-on {
            .navbar-nav .nav-link {
                color: var(--nav-item-color);
                &:hover, &:focus, &.active, &.current-menu-item {
                    color: var(--nav-hover-color);
                }
            }
        }
        @media (max-width: 991px) {
            .navbar-toggler-icon {
                background: var(--white-color);
                &::before, &::after {
                    background: var(--white-color);
                }
                &.active {
                    &::before, &::after {
                        background: var(--nav-toggler-color);
                    }
                }
            }
            .dropdown.show > .nav-link {
                color: var(--nav-hover-color);
            }
        }
    }
    &.navbar-sticky-on {
        margin-top: 0;
        transition: .3s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        .navbar-brand-regular {
            display: none;
        }
        .navbar-brand-sticky {
            display: inline;
        }
        @media (min-width: 992px) {
            .navbar-nav .nav-link {
                padding-top: 1.625rem;
                padding-bottom: 1.625rem;
            }
        }
        @media (max-width: 991px) {
            .navbar-toggler-icon {
                background: var(--nav-toggler-color);
                &::before, &::after {
                    background: var(--nav-toggler-color);
                }
            }
        }
    }
}

// DROPDOWN ITEMS
.dropdown {
    .dropdown-toggle:after {
        margin-left: 4px;
        vertical-align: 1px;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: var(--nav-bg-color);
        transition: .3s;
    }
    .dropdown-menu {
        border: 0;
        padding: 0.625rem 0;
        margin: 0;
        transition: .3s;
        @media (min-width: 992px) {
            opacity: 0;
            display: block;
            visibility: hidden;
            min-width: 14.375rem;
            margin-top: 0;
            transform: translateY(20px);
        }
        &:before {
            content: '';
            position: absolute !important;
            top: -10px;
            right: auto;
            bottom: auto;
            left: 10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid var(--white-color);
        }
        > li {
          padding: 0 0.625rem;
        }
        .dropdown-item {
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            padding-right: 0.625rem;
            padding-left: 0.625rem;
            text-transform: uppercase;
            font-size: 0.8125rem;
            font-weight: 700;
            color: var(--nav-hover-color);
            transition: .3s;
            &.active, &:active {
                background: #f8f9fa;
            }
        }
        .dropdown-submenu {
            position: relative;
            > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                &:before {
                    content: '';
                    position: absolute !important;
                    top: 30px;
                    right: auto;
                    bottom: auto;
                    left: -10px;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid var(--white-color);
                }
            }
            .dropdown-toggle:after {
                position: absolute;
                right: 24px;
                top: 20px;
                color: var(--nav-bg-color);
            }
            &:hover .dropdown-toggle:after {
                text-decoration: underline;
                transform: rotate(-90deg);
            }
        }
    }
}

.dropdown-divider {
  border-color: #8d98b7;
}