.box{
    width: 100%;
    max-height: 100%;

    // Flexbox
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.box#section1{
    background: #fff;
}

.box#section2{
    background: cornflowerblue;
}

.box#section3{
    background: crimson;
}

.box#section4{
    background: cyan;
}

.box#section5{
    background: gold;
}