.box{
    width: 100%;
    max-height: 100%;

    // Flexbox
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.box#section1{
    background: #fff;
}

.box#section2{
    background: cornflowerblue;
}

.box#section3{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .benefits{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        div{
            /* background: chocolate; */
            margin: 20px;
            padding: 20px;
            width: 300px;
            text-align: center;
        }
    }
}

.box#section4{
    background: cyan;
}

.box#section5{
    background: gold;
}