.welcome-area {
    height: 644px;
    z-index: 1;
    @media (max-width: 991px) {
        height: 700px !important;
    }
    @media (max-width: 767px) {
        height: 100% !important;
        padding-top: 90px;
    }
    .welcome-intro {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
        @media (max-width: 575px) {
            margin-top: 0;
        }
    }
    .welcome-thumb {
        /* max-width: 300px; */
        padding-top: 70px;
        @media (max-width: 767px) {
            /* max-width: 270px; */
            padding-top: 20px;
        }
        @media (max-width: 575px) {
            /* max-width: 230px; */
        }
        .play-btn {
            position: relative;
            display: inline-block;
            height: 100px;
            width: 100px;
            background-color: var(--white-color);
            border-radius: 50%;
            @media (max-width: 575px) {
                height: 80px;
                width: 80px;
            }
            .btn-circle {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.2);
                &.play-animation {
                    animation: grow 3s infinite;
                    &.animation-short {
                        animation-delay: .5s;
                    }
                }
            }
            .play-icon {
                font-size: 22px;
                color: var(--primary-color-2);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .video-icon {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translateY(-50%);
    }
    .shape-bottom {
        z-index: -1;
    }
    &.bg-overlay::after {
        z-index: -2;
    }
}

@media (min-width: 992px) {
    .download-page .welcome-intro {
        > h1 {
            font-size: 3.8em;
        }
        p {
            font-size: 16px;
        }
    }
}

@keyframes grow {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.5);
        opacity: 0;
    }
}
