@import "./settings";
@import "./navbar";
@import "./sections";
@import "./ir-arriba";


#fondo1{
    height: 100%;
}

#fondo2{
    position: absolute !important;
    bottom: 0 !important;
    width: 50% !important;
    right: 0 !important;
}

#ilustracion{
    position: absolute;
    width: 52%;
    top: 0;
    margin-left: 30px;
}