@import "./settings";
@import "./navbar";
@import "./sections";
@import "./ir-arriba";


#fondo1{
    height: 100%;
}

#fondo2{
    position: absolute !important;
    bottom: 0 !important;
    width: 50% !important;
    right: 0 !important;
}

#ilustracion{
    position: absolute;
    width: 0;
    top: 0;
    margin-left: 30px;
    margin-top: 30px;

    animation: size 4s infinite alternate;
}

#content{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-right: 85px;
    width: 300px;

    p{
        text-align: justify;
        
    }
}

@keyframes size{
    to{
        width: 64%;
    }
}