* {
  margin: 0;
  padding: 0; }

.bg-primary {
  background: linear-gradient(90deg, #682690 0%, #63258E 3.6%, #4A2185 25.83%, #371E7F 48.86%, #2D1D7B 73%, #291C7A 100%);
  color: #fff !important; }

header .navbar {
  height: 112px;
  padding: 20px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .navbar img {
    width: 200px; }
  header .navbar ul {
    padding: 20px;
    display: flex; }
    header .navbar ul li {
      margin-right: 20px;
      list-style: none !important; }
      header .navbar ul li a {
        text-decoration: none !important;
        text-transform: uppercase;
        color: #000; }

.box {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between; }

.box#section1 {
  background: #fff; }

.box#section2 {
  background: cornflowerblue; }

.box#section3 {
  background: crimson; }

.box#section4 {
  background: cyan; }

.ir-arriba {
  padding: 10px 15px;
  background: #ffa502;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 100; }

#fondo1 {
  height: 100%; }

#fondo2 {
  position: absolute !important;
  bottom: 0 !important;
  width: 50% !important;
  right: 0 !important; }

#ilustracion {
  position: absolute;
  width: 64%;
  top: 0;
  margin-left: 30px;
  margin-top: 30px; }

#content {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  margin-right: 85px;
  width: 300px; }
  #content p {
    text-align: justify; }
